upload_bucket_name = "upload-bucket-name"

api_url = "http://localhost:3000"

callback_urls = [
  "http://localhost:3000/api/auth/callback/cognito"
]

logout_urls = [
  "http://localhost:3000"
]

nextauth_url    = "http://localhost:3000"
nextauth_secret = ""

certificate_primary = "primary.domain"
certificate_sans = [
  "frontend.primary.domain",
  "api.primary.domain"
]

api_sentry_dsn = ""

frontend_sentry_dsn = ""
frontend_sentry_auth_token = ""